
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Referencia de la hoja de estilo de Css -->
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/parsley.css">
    <link rel="stylesheet" href="../styles/admin.css">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title> AluraGeek</title>
</head>
<body>
    <!-- Sección del Menú  -->
    <div class="container">
        <section class="menu">
            <header class="menu__header">
             <a href="../index.html"> <img class="menu__img"  src="../assets\logo.png"> </a>   
                <div class="menu-search-container">
                    <form action="">
                      <input class="menu__input menu__input__hide " type="text" placeholder="Search.." name="search">
                      <button class="menu__btn" type="submit"><i class="fa fa-search"></i></button>
                      <!-- <button class="menu__btnlogin">Login</button> -->
                    </form>
                 </div>	
            </header>
            <nav class="menu-navbar">
                <ul class="menu__list">
                    
                </ul>
            </nav>
        </section>

        <!-- Sección del Header/Title/Hero -->
        <section class="baner">
          <div class="baner__img">    
            <div class="baner__texto">
                <h3 class="baner__title">Octubre promocional</h3>
                <h3 class="baner__subtext">Productos seleccionados con el 33% de descuento</h3>
                <button class="baner__btn">Ver consolas</button>
            </div>
          </div>
        </section>
        
        <!-- Sección de producto -->
        <section class="producto" id="formacion">
            <div class="producto__header">
                <h2 class="producto__title" >Todos los Productos</h2>
                <a class="producto__btn" href="nuevoproducto.html">Agregar Producto</a>
            </div>
            <div class="producto__container" data-producto>
                   
                  <div class="producto__containerblue">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img2.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>
                  <div class="producto__containerblue">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img3.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>
                  <div class="producto__containerblue producto__hide3">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img4.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>  
                  <div class="producto__containerblue  producto__hide1">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img5.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>
                  <div class="producto__containerblue  producto__hide2 ">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img6.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>
            </div>
           
            <div class="producto__container">
                  <div class="producto__containerblue">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img7.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>  
                  <div class="producto__containerblue">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img8.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>
                  <div class="producto__containerblue">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img9.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>
                  <div class="producto__containerblue producto__hide3">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img10.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>  
                  <div class="producto__containerblue  producto__hide1">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img11.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>
                  <div class="producto__containerblue  producto__hide2">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img12.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>
            </div>
            
            <div class="producto__container">
                  <div class="producto__containerblue">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img13.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>  
                  <div class="producto__containerblue">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img14.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>
                  <div class="producto__containerblue">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img15.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>
                  <div class="producto__containerblue producto__hide3">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img16.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>  
                  <div class="producto__containerblue  producto__hide1">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img17.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>
                  <div class="producto__containerblue  producto__hide2">        
                    <div class="producto__box"><!--fondo-blanco-->
                        <div class="producto__container__img">
                            <img class="producto__item__img" src="../assets\img18.png">
                            <button class="producto__edit__icon"><a href="edit-product.html"> <i class="producto__icon fas fa-pen"></i> </a></button>
                            <button class="producto__delete__icon"> <i class="producto__iconDelete fas fa-trash"></i> </button>
                        </div>
                    </div>
                        <ul class="producto__list">
                            <li class="producto__item__title">Producto xyz</li>
                            <li class="producto__item__subtitle">$80.000</li>
                            <li class="producto__detalle"><a class="producto__detalle__href" href="#">Ver producto</a></li>
                        </ul>
                  </div>
            </div>    
        </section>

        <!-- Sección de Contacto -->
        <section class="formcontato" id="contacto">
            <div  class="formcontato__contacto">
                <div class="formcontato__container">
                    <div class="formcontato__izquierda">
                        <img class="menu__img" src="../assets\logo.png">
                        <a class="formcontato__text__left" href="#">Quienes somos</a>
                        <a class="formcontato__text__left" href="#">Politica de privacidad</a>
                        <a class="formcontato__text__left" href="#">Programa de fidelidad</a>
                        <a class="formcontato__text__left" href="#">Nuestras tiendas</a>
                        <a class="formcontato__text__left" href="#">Quiero ser franquiciado</a>
                        <a class="formcontato__text__left" href="#">Anuncie aqui</a>
                    </div>
                    <div class="formcontato__text">
                        <div class="formcontato__text__container">
                            <h2 class="formcontato__title">Contacto</h2>
                            <h3 class="formcontato__subtext">Hable con nosotros</h3>
                            <h3 class="formcontato__subtext">Complete el siguiente formulario y nos pondrémos en contacto lo antes posible. </h3>
                        </div>
                        <form class="formcontato__form" name="form" id="form">
                            <label class="formcontato__form__label">Nombres</label>
                            <input class="formcontato__input" type="text" name="nombre" placeholder="nombre y apellido" required data-parsley-pattern="^([A-Za-zÁÉÍÓÚñáéíóúÑ]{0}?[A-Za-zÁÉÍÓÚñáéíóúÑ\']+[\s])+([A-Za-zÁÉÍÓÚñáéíóúÑ]{0}?[A-Za-zÁÉÍÓÚñáéíóúÑ\'])+[\s]?([A-Za-zÁÉÍÓÚñáéíóúÑ]{0}?[A-Za-zÁÉÍÓÚñáéíóúÑ\'])?$" >
                            <label class="formcontato__form__label">Email</label>
                            <input class="formcontato__input" type="email" name="email" required data-parsley-type="email" >
                            <label class="formcontato__form__label">Asunto</label>
                            <input class="formcontato__input" type="text" name="asunto" placeholder="ingresa solo texto sin acentos ni numeros" required data-parsley-pattern="/^[a-z_.-\s]+$/i" >
                            <label class="formcontato__form__label">Mensaje</label>
                            <textarea class="formcontato__textarea" rows="5" cols="40" id="mensagem" name="mensaje" required  data-parsley-minlength="9" data-parsley-maxlength="210" ></textarea>
                            <button type="submit" class="formcontato__botao">Enviar mensaje</button>
                        </form>
                    </div>
                </div>  
            </div>
            <!-- Sección de Footer -->
            <section class="footer">
                <div class="footer__rodape">
                    <p>Desarrollado por Victor Alfonso Otavo</p>
                    <p>2023</p>
                </div>   
            </section>
            <div class="button__top">
                <button onclick="topFunction()" id="myBtn" title="regresar">Top</button>
            </div>
        </section>
                
    </div>
       
<script src="/js/jquery.js"></script>
<script src="/js/parsley.min.js"></script>
<script src="/js/validacion.js"></script>
<script src="/js/es.js"></script>
<script src="/js/admin.js"></script>
<script src="/js/mycodejs.js"></script>
<!-- tipe module permite trabajar con import y export -->
<script type="module" src="/controller/cliente_controller.js"></script>
</body>
</html>